@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;

}
.movie-container {
    margin: 20px 0;
}
.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    padding: 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.movie-container select:focus {
    border: none;
}

.container {
    margin-bottom: 30px;
    perspective: 1000px;
}
.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
}

.showcase li small{
    margin-left: 5px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(225, 225, 225, 0.7);

}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

/* .seat:nth-of-type(6) {
    margin-right: 15px;
} */

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}
.row {
    display: flex;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}